[Unit]
Description=TrueID Daemon
After=network.target

[Service]
ExecStart=/usr/bin/trueid-daemon
Restart=always
RuntimeDirectory=trueid

[Install]
WantedBy=multi-user.target